body {color: chocolate; background-color: darkcyan; text-align: center; }

h1 {color: cyan;}
h2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

img { height: font-size 200px; font-size: 200px; }

.firstDiv
{
text-align: center;
}

Hey, this is the change I made...cheers
